In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('D:/Data_Analysis/gdp.csv')
df

      Country Name Country Code  Year         Value
0       Arab World          ARB  1968  2.576068e+10
1       Arab World          ARB  1969  2.843420e+10
2       Arab World          ARB  1970  3.138550e+10
3       Arab World          ARB  1971  3.642691e+10
4       Arab World          ARB  1972  4.331606e+10
...            ...          ...   ...           ...
11502     Zimbabwe          ZWE  2012  1.424249e+10
11503     Zimbabwe          ZWE  2013  1.545177e+10
11504     Zimbabwe          ZWE  2014  1.589105e+10
11505     Zimbabwe          ZWE  2015  1.630467e+10
11506     Zimbabwe          ZWE  2016  1.661996e+10

[11507 rows x 4 columns]

In [3]:
for col in df.columns:
    print(df[col].nunique(), end = '\t:')
    print(col)

256	:Country Name
256	:Country Code
57	:Year
11398	:Value

In [4]:
df_pr = df[df['Country Name'] == 'Arab World']

In [5]:
data = df_pr.values

for i in range(1, len(data)):
    print(data[i], data[i-1])

['Arab World' 'ARB' 1969 28434203615.4829] ['Arab World' 'ARB' 1968 25760683041.0857]
['Arab World' 'ARB' 1970 31385499664.0672] ['Arab World' 'ARB' 1969 28434203615.4829]
['Arab World' 'ARB' 1971 36426909888.3928] ['Arab World' 'ARB' 1970 31385499664.0672]
['Arab World' 'ARB' 1972 43316056615.4562] ['Arab World' 'ARB' 1971 36426909888.3928]
['Arab World' 'ARB' 1973 55018394945.5825] ['Arab World' 'ARB' 1972 43316056615.4562]
['Arab World' 'ARB' 1974 105145803084.377] ['Arab World' 'ARB' 1973 55018394945.5825]
['Arab World' 'ARB' 1975 116337021938.341] ['Arab World' 'ARB' 1974 105145803084.377]
['Arab World' 'ARB' 1976 144846175400.488] ['Arab World' 'ARB' 1975 116337021938.341]
['Arab World' 'ARB' 1977 167308327683.593] ['Arab World' 'ARB' 1976 144846175400.488]
['Arab World' 'ARB' 1978 183555544342.189] ['Arab World' 'ARB' 1977 167308327683.593]
['Arab World' 'ARB' 1979 248646206367.003] ['Arab World' 'ARB' 1978 183555544342.189]
['Arab World' 'ARB' 1980 338177454717.54] ['Arab World' 'ARB' 1979 248646206367.003]
['Arab World' 'ARB' 1981 348592795413.116] ['Arab World' 'ARB' 1980 338177454717.54]
['Arab World' 'ARB' 1982 324328753765.3] ['Arab World' 'ARB' 1981 348592795413.116]
['Arab World' 'ARB' 1983 303962539723.08] ['Arab World' 'ARB' 1982 324328753765.3]
['Arab World' 'ARB' 1984 307940771858.542] ['Arab World' 'ARB' 1983 303962539723.08]
['Arab World' 'ARB' 1985 303893618415.542] ['Arab World' 'ARB' 1984 307940771858.542]
['Arab World' 'ARB' 1986 289029150639.442] ['Arab World' 'ARB' 1985 303893618415.542]
['Arab World' 'ARB' 1987 312681678329.933] ['Arab World' 'ARB' 1986 289029150639.442]
['Arab World' 'ARB' 1988 307503035642.516] ['Arab World' 'ARB' 1987 312681678329.933]
['Arab World' 'ARB' 1989 322325140494.725] ['Arab World' 'ARB' 1988 307503035642.516]
['Arab World' 'ARB' 1990 446877161735.16] ['Arab World' 'ARB' 1989 322325140494.725]
['Arab World' 'ARB' 1991 439779177865.334] ['Arab World' 'ARB' 1990 446877161735.16]
['Arab World' 'ARB' 1992 471163515479.771] ['Arab World' 'ARB' 1991 439779177865.334]
['Arab World' 'ARB' 1993 476513630620.727] ['Arab World' 'ARB' 1992 471163515479.771]
['Arab World' 'ARB' 1994 487526906267.398] ['Arab World' 'ARB' 1993 476513630620.727]
['Arab World' 'ARB' 1995 523759898278.581] ['Arab World' 'ARB' 1994 487526906267.398]
['Arab World' 'ARB' 1996 578231297757.414] ['Arab World' 'ARB' 1995 523759898278.581]
['Arab World' 'ARB' 1997 613279452463.065] ['Arab World' 'ARB' 1996 578231297757.414]
['Arab World' 'ARB' 1998 591525594008.239] ['Arab World' 'ARB' 1997 613279452463.065]
['Arab World' 'ARB' 1999 643889670873.196] ['Arab World' 'ARB' 1998 591525594008.239]
['Arab World' 'ARB' 2000 735025140326.516] ['Arab World' 'ARB' 1999 643889670873.196]
['Arab World' 'ARB' 2001 723282816391.284] ['Arab World' 'ARB' 2000 735025140326.516]
['Arab World' 'ARB' 2002 729051715403.445] ['Arab World' 'ARB' 2001 723282816391.284]
['Arab World' 'ARB' 2003 823110541440.464] ['Arab World' 'ARB' 2002 729051715403.445]
['Arab World' 'ARB' 2004 963862340520.581] ['Arab World' 'ARB' 2003 823110541440.464]
['Arab World' 'ARB' 2005 1184661549595.13] ['Arab World' 'ARB' 2004 963862340520.581]
['Arab World' 'ARB' 2006 1404113530800.68] ['Arab World' 'ARB' 2005 1184661549595.13]
['Arab World' 'ARB' 2007 1637573196970.62] ['Arab World' 'ARB' 2006 1404113530800.68]
['Arab World' 'ARB' 2008 2078115659876.48] ['Arab World' 'ARB' 2007 1637573196970.62]
['Arab World' 'ARB' 2009 1795819607113.11] ['Arab World' 'ARB' 2008 2078115659876.48]
['Arab World' 'ARB' 2010 2109645821948.41] ['Arab World' 'ARB' 2009 1795819607113.11]
['Arab World' 'ARB' 2011 2501553648412.73] ['Arab World' 'ARB' 2010 2109645821948.41]
['Arab World' 'ARB' 2012 2741238538444.31] ['Arab World' 'ARB' 2011 2501553648412.73]
['Arab World' 'ARB' 2013 2839626635836.57] ['Arab World' 'ARB' 2012 2741238538444.31]
['Arab World' 'ARB' 2014 2906616435186.9] ['Arab World' 'ARB' 2013 2839626635836.57]
['Arab World' 'ARB' 2015 2563301730344.96] ['Arab World' 'ARB' 2014 2906616435186.9]
['Arab World' 'ARB' 2016 2504702625568.63] ['Arab World' 'ARB' 2015 2563301730344.96]

In [8]:
data = df_pr.values

for i in range(1, len(data)):
    
    prev_year = data[i-1][3]
    curr_year = data[i][3]
#     print(data[i][3] - data[i-1][3])
    print(data[i][2], ':', round(((curr_year - prev_year)/prev_year)*100, 2), '%')

1961 : 5.95 %
1962 : 7.47 %
1963 : 14.85 %
1964 : 16.64 %
1965 : 5.44 %
1966 : -22.99 %
1967 : 9.31 %
1968 : 5.89 %
1969 : 10.1 %
1970 : 6.8 %
1971 : 7.9 %
1972 : 6.11 %
1973 : 19.66 %
1974 : 16.38 %
1975 : -1.06 %
1976 : 4.31 %
1977 : 18.27 %
1978 : 13.02 %
1979 : 11.43 %
1980 : 21.79 %
1981 : 3.85 %
1982 : 3.73 %
1983 : 8.74 %
1984 : -2.8 %
1985 : 9.59 %
1986 : 7.09 %
1987 : 12.07 %
1988 : 6.29 %
1989 : -0.18 %
1990 : 8.42 %
1991 : -15.85 %
1992 : 6.7 %
1993 : -3.09 %
1994 : 17.18 %
1995 : 10.09 %
1996 : 9.05 %
1997 : 5.85 %
1998 : 1.32 %
1999 : 8.89 %
2000 : 2.09 %
2001 : 3.64 %
2002 : 6.08 %
2003 : 18.01 %
2004 : 16.69 %
2005 : 15.61 %
2006 : 13.77 %
2007 : 30.51 %
2008 : -1.18 %
2009 : 11.54 %
2010 : 25.13 %
2011 : 10.05 %
2012 : 0.25 %
2013 : 1.59 %
2014 : 9.62 %
2015 : 2.68 %
2016 : 8.32 %

In [7]:
df_pr = df[df['Country Name'] == 'India']

data = df_pr.values

gdp_change = [0]

for i in range(1, len(data)):
    gdp_change.append(round(((data[i][3] - data[i-1][3]) / data[i-1][3]) * 100, 2))
    
df_pr.assign(GDP = gdp_change)

     Country Name Country Code  Year         Value    GDP
6074        India          IND  1960  3.653593e+10   0.00
6075        India          IND  1961  3.870910e+10   5.95
6076        India          IND  1962  4.159907e+10   7.47
6077        India          IND  1963  4.777600e+10  14.85
6078        India          IND  1964  5.572687e+10  16.64
6079        India          IND  1965  5.876042e+10   5.44
6080        India          IND  1966  4.525364e+10 -22.99
6081        India          IND  1967  4.946617e+10   9.31
6082        India          IND  1968  5.237732e+10   5.89
6083        India          IND  1969  5.766833e+10  10.10
6084        India          IND  1970  6.158980e+10   6.80
6085        India          IND  1971  6.645256e+10   7.90
6086        India          IND  1972  7.050991e+10   6.11
6087        India          IND  1973  8.437454e+10  19.66
6088        India          IND  1974  9.819828e+10  16.38
6089        India          IND  1975  9.715922e+10  -1.06
6090        India          IND  1976  1.013470e+11   4.31
6091        India          IND  1977  1.198667e+11  18.27
6092        India          IND  1978  1.354688e+11  13.02
6093        India          IND  1979  1.509508e+11  11.43
6094        India          IND  1980  1.838399e+11  21.79
6095        India          IND  1981  1.909095e+11   3.85
6096        India          IND  1982  1.980377e+11   3.73
6097        India          IND  1983  2.153508e+11   8.74
6098        India          IND  1984  2.093282e+11  -2.80
6099        India          IND  1985  2.294103e+11   9.59
6100        India          IND  1986  2.456647e+11   7.09
6101        India          IND  1987  2.753114e+11  12.07
6102        India          IND  1988  2.926327e+11   6.29
6103        India          IND  1989  2.920933e+11  -0.18
6104        India          IND  1990  3.166973e+11   8.42
6105        India          IND  1991  2.665023e+11 -15.85
6106        India          IND  1992  2.843639e+11   6.70
6107        India          IND  1993  2.755704e+11  -3.09
6108        India          IND  1994  3.229099e+11  17.18
6109        India          IND  1995  3.554760e+11  10.09
6110        India          IND  1996  3.876560e+11   9.05
6111        India          IND  1997  4.103203e+11   5.85
6112        India          IND  1998  4.157309e+11   1.32
6113        India          IND  1999  4.527000e+11   8.89
6114        India          IND  2000  4.621468e+11   2.09
6115        India          IND  2001  4.789655e+11   3.64
6116        India          IND  2002  5.080690e+11   6.08
6117        India          IND  2003  5.995929e+11  18.01
6118        India          IND  2004  6.996889e+11  16.69
6119        India          IND  2005  8.089011e+11  15.61
6120        India          IND  2006  9.203165e+11  13.77
6121        India          IND  2007  1.201112e+12  30.51
6122        India          IND  2008  1.186953e+12  -1.18
6123        India          IND  2009  1.323940e+12  11.54
6124        India          IND  2010  1.656617e+12  25.13
6125        India          IND  2011  1.823050e+12  10.05
6126        India          IND  2012  1.827638e+12   0.25
6127        India          IND  2013  1.856722e+12   1.59
6128        India          IND  2014  2.035393e+12   9.62
6129        India          IND  2015  2.089865e+12   2.68
6130        India          IND  2016  2.263792e+12   8.32